html, body{
  margin: 0px;
  padding: 0px;
}

.container{
	font-family: Verdana, georgia, "times new roman", times, serif;
	margin:auto;
	width: 800px;
}

h1{
	text-align: center;
	font-size: 2em;
	margin: 10px;
}
